<mat-list class="content center width50" *ngIf="user; else semRegistro">
  <mat-list-item> Nome: {{user.nome}} </mat-list-item>
  <img mat-card-image [src]="user.urlFoto || semFoto" >
  <mat-list-item> Email: {{user.email}} </mat-list-item>
  <mat-list-item> Telefone: {{user.telefone}} </mat-list-item>
</mat-list>
<mat-card class="content">
  <mat-card-actions >
    <button color="accent" mat-raised-button (click)="editar()">Editar</button>
    <button color="warn" mat-raised-button (click)="excluir()">Excluir</button>
  </mat-card-actions>
</mat-card>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
